@using Thesis.Models
@model (Activity activity, List<Answer> answers)

<div>
    @if (Model.activity.activityType == enActivityType.task)
    {
        <i class="bi bi-pencil-square" style="font-size: 2em;"></i>
        <h3>Due: <span class="badge bg-secondary">@await Component.InvokeAsync("DateLabel", Model.activity.dueDate)</span></h3>
    }
    else
    {
        <i class="bi bi-book" style="font-size: 2em;"></i>
    }

    <h3>@Model.activity.title</h3><a class="btn btn-primary" href="/forum/forum/add?activityId=@Model.activity.id">Discuss this topic on forum</a>
    <p>@Model.activity.text</p>
    @if (Model.activity.files != null && Model.activity.files.Count > 0)
    {
        <table class="table table-striped .table-responsive">
            <thead>
                <tr>
                    <th>Filename</th>
                    <th>Download</th>
                </tr>
            </thead>
            @foreach (File file in Model.activity.files)
            {
                <tr>
                    <td>@file.showName</td>
                    <td data-name="@file.showName" data-id="@file.Id" class="download"><i style="cursor: pointer" class="bi bi-download"></i></td>
                </tr>
            }
        </table>
    }
    @if (Model.activity.activityType == enActivityType.task)
    {
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse_@Model.activity.id" role="button" aria-expanded="false" aria-controls="collapse_@Model.activity.id">
            Answer
        </a>
        <div class="collapse" id="collapse_@Model.activity.id">
            <table class="table table-striped .table-responsive">
                <thead>
                    <tr>
                        <th>Entry date</th>
                        <th>Download</th>
                        <th>Checked</th>
                        <th>Version</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Answer answer in Model.answers)
                    {
                        <tr>
                            <td>@await Component.InvokeAsync("DateLabel", answer.entryDate)</td>
                            <td style="cursor: pointer" data-id="@answer.fileId" class="download"><i class="bi bi-download"></i></td>
                            <td>
                                @if (answer.isChecked)
                                {
                                    <a href="/Course/Feed/comments?id=@answer.id">Check comments</a>
                                }
                            </td>
                            <td>@answer.version</td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (Model.activity.allowFile)
            {
                @await Component.InvokeAsync("UploadFile", ("/Course/Feed/AddAnswer?activity=" + @Model.activity.id.ToString(), "Answer with file", ""))
            }
            @if (Model.activity.allowText)
            {
                <br>
                <button class="btn btn-outline-secondary" onclick="location.href='/Course/Feed/WriteAnswer?activity=@Model.activity.id.ToString()';">Answer with text editor</button>
            }
        </div>
    }
</div>

<script type="text/javascript">
    window.onload = function () {
        $('.download').click(function () {
            fetch('/Course/Activity/GetFile?id=' + $(this).data('id'))
                .then(res => res.blob())
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.style.display = 'none';
                    a.href = url;
                    a.download = $(this).data('name');
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);
                })
        })
    }
</script>