@model (string name, string label, string value)
<div class="mb-3">
    <label for="@Model.name" class="form-label">@Model.label</label>
    <textarea name="@Model.name" class="form-control" id="@Model.name">@Model.value</textarea>
</div>